html, body, body *{
  margin: 0;
  padding: 0;
}

canvas {
scale: 0.8em;
box-shadow:#e1dadf;
background: var(--color-body-text);
}

@font-face {
  font-family: 'Source-Serif-Pro' ;
  src: url("SourceSerif4-VariableFont_opsz,wght.ttf");
}

@font-face{
  font-family: 'Source-Sans-Pro';
  src: url("SourceSansPro-Bold.ttf")
}

:root {
  --color-body-text: #1C1018;
  --color-body: #FFFBF2;
  --color-bg: #FCFFEB;
}

:root {
  --font-size-heading-1: 3.6rem;
  --font-size-heading-2: 1.8rem;
  --font-size-heading-3: 1.5rem;
  --font-size-heading-4: 1.25rem;
  --font-size-heading-5: 1.125rem;
  --font-size-heading-6: 1.125rem;
  --font-size-body-larger: 1.375rem;
  --font-size-body-large: 1.25rem;
  --font-size-body-medium: 1.125rem;
  --font-size-body: 1rem;
  --font-size-body-small: .9375rem;
  --font-size-body-smaller: .875rem;
  --font-size-body-smallest: .8125rem;
  --font-size-body-tiny: .75rem;
  --font-size-button-small: .8125rem;
  --font-size-button-medium: .875rem;
  --font-size-button-large: 1.0625rem;
  --font-size-button-x-large: 1.1875rem;
  --font-size-menu-large: 1.0625rem;
  --font-size-menu: 1rem;
  --font-size-input: 1rem;
}

main{
  height: 100vh;
  width: 60vw;
  background: var(--color-body-text);
  display: flex;
  justify-content: center;
  align-items: center;
  scale: clamp(0.6, 1, 1.2);
}

body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 50vw;
  font-size: var(--font-size-body);
}


.instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  height: 100vh;
  width: 40vw;
  gap: 4em;
  color: var(--color-body-text);
}

.onlyText{
  display: flex;
  flex-direction: column;
  justify-self: space-evenly;
  gap: 2rem;
  width: 75%;
}

h2{
  font-size: var(--font-size-heading-1);
  line-height: 88%;
  font-weight: 400;
  font-family: Source-Serif-Pro;
}

h3{
  font-size: var(--font-size-heading-2);
  font-family: Source-Serif-Pro;
  line-height: 110%;
  font-weight: 400;
}

h4{
  font-size: var(--font-size-body-larger);
  font-family: Source-Serif-Pro;
  font-weight: 600;
  margin: none;
}

h5{
  font-size: var(--font-size-body-medium);
  line-height: 130%;
  font-family: Source-Serif-Pro;
  font-weight: 400;
  font-optical-sizing: 16;
}

.controls{
  width: 30vw;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-weight: 300;
  font-family: Source-Serif-Pro;
}

.pinClass{
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-body-larger);
  height: var(--font-size-button-medium);
  padding: 0;
}

.sliderIndex, h6{
 color:var(--color-body-text);
 font-size: var(--font-size-body-medium);
 font-family: Source-Serif-Pro;
 font-weight: 400;
 height: 1em;
 margin-bottom: 0.8rem;
}

.sliderIndex{
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  width: 90%;
}

.dynamicVal{
color: #FF6542;
font-family: Source-Serif-Pro;
}

.pinCounter{
  display: flex;
  flex-direction: column;
}

.sliderSection{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.indexSlider {
   height: var(--font-size-button-medium);
   appearance: none;
   border: 2px solid;
   border-color: var(--color-body-text);
 }


 .indexSlider::-webkit-slider-thumb {
  appearance: none;
  background:#201E1F;
  width: var(--font-size-body-tiny);
  height: var(--font-size-body-larger);
  cursor: pointer; 
}

.indexSlider::-webkit-slider-thumb:hover {
  background-color: #3f3c3e;
  transition-duration: 0.5s;
}


.name-generate{
  display: flex;
  flex-direction: row;
  gap: calc(30vw/10);
  font-size: var(--font-size-button-large);
}


.textInput{
  width: 12em;
  height: 2.4em;
  padding-block: 0px;
  padding-inline: 0px;
  outline: none;
  background: none;
  border: none;
  outline: 2px solid var(--color-body-text);
  color: #FF6542;
  font-family: Source-Serif-Pro;
  letter-spacing: 1%;
  font-size: var(--font-size-button-large);
}

.inputSection{
  display: flex;
  flex-direction: column;
}

.buttonSection{
  display:flex;
  flex-direction: column;
}

button{
  border: none;
  margin: 0px;
  font-size: var(--font-size-button-large);
  background: none;
  width: 8em;
  height: 2.4em;
  cursor: pointer;
  outline: 2px solid var(--color-body-text);
  font-weight: 400;
  letter-spacing: 1%;
  background: #201E1F;
  color: white;
  transition-duration: 0.2s;
}

button:hover{
  outline: 2px solid var(--color-body-text);
  border: none;
  color: var(--color-body-text);
  background: white;
}